* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
h1 {
  font-size: 21px
}
button {
  height: 2.5em;
  width: 10em;
  border-radius: 5px;
}
.add-to {
  display: flex;
  flex-direction: column;
}
.pony {
  text-align: center;
}